In [ ]:
## json 파일 다운로드
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mahmoudelhemaly/students-grading-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mahmoudelhemaly/students-grading-dataset?dataset_version_number=3...

100%|██████████| 0.99M/0.99M [00:00<00:00, 68.6MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/mahmoudelhemaly/students-grading-dataset/versions/3

In [8]:
## 20220550 윤명섭, 해사 데이터마이닝 6주차 과제
## json 파일
## https://www.kaggle.com/datasets/mahmoudelhemaly/students-grading-dataset?select=Students_Grading_Dataset_Biased.json
## 에서 Students_Grading_Dataset 파일을 선택했습니다.

import pandas as pd
import matplotlib.pyplot as plt
import json

# JSON 파일 경로 설정
json_path = "/content/jsonData/Students_Grading_Dataset.json"

# JSON 파일 로드
with open(json_path, "r") as f:
  data = json.load(f)

# Dataframe 변환
df = pd.DataFrame(data)

# DataFrame 정보 출력
print(df.info(), "\n")
# DataFrame 상위 5개 행 출력
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              5000 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             5000 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      5000 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB
None

  Student_ID First_Name Last_Name                    Email  Gender  Age  \
0      S1000       Omar  Williams  student0@university.com  Female   22
1      S1001      Maria     Brown  student1@university.com    Male   18
2      S1002      Ahmed     Jones  student2@university.com    Male   24
3      S1003       Omar  Williams  student3@university.com  Female   24
4      S1004       John     Smith  student4@university.com  Female   23

    Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0  Mathematics           97.36          40.61        59.61  ...
1     Business           97.71          57.27        74.00  ...
2  Engineering           99.52          41.84        63.85  ...
3  Engineering           90.38          45.65        44.44  ...
4           CS           59.41          53.13        61.77  ...

   Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0           62.84        83.49      C                  10.3
1           98.23        92.29      F                  27.1
2           91.22        93.55      F                  12.4
3           55.48        51.03      A                  25.5
4           87.43        90.91      A                  13.3

   Extracurricular_Activities Internet_Access_at_Home  Parent_Education_Level  \
0                         Yes                      No                Master's
1                          No                      No             High School
2                         Yes                      No             High School
3                          No                     Yes             High School
4                         Yes                      No                Master's

  Family_Income_Level Stress_Level (1-10) Sleep_Hours_per_Night
0              Medium                   1                   5.9
1                 Low                   4                   4.3
2                 Low                   9                   6.1
3                 Low                   8                   4.9
4              Medium                   6                   4.5

[5 rows x 23 columns]

In [1]:
# xml 파일 다운로드
import kagglehub

# Download latest version
path = kagglehub.dataset_download("agileteam/bigdatacertificationkr")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/agileteam/bigdatacertificationkr?dataset_version_number=21...

100%|██████████| 170k/170k [00:00<00:00, 41.3MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/agileteam/bigdatacertificationkr/versions/21

In [9]:
## xml 파일
## https://www.kaggle.com/datasets/agileteam/bigdatacertificationkr?select=basic1_xml.xml
## 에서 basic1_xml 파일을 선택했습니다.

import pandas as pd
import xml.etree.ElementTree as ET

# xml 파일 경로
xml_path = "/content/xmlData/basic1_xml.xml"

# xml 파일 읽기
tree = ET.parse(xml_path)
# 루트 요소 가져오기
root = tree.getroot()

# 특정 요소 목록 가져오기
elements = root.findall("row")

# DataFrame 생성
df = pd.DataFrame(columns=["city", "age", "f4"])

# 각 요소를 DataFrame에 추가
for element in elements:
  row = {
      "city": element.find("city").text,
      "age": float(element.find("age").text),
      "f4": element.find("f4").text
  }
  df2 = pd.DataFrame(row, index=[0])
  df = pd.concat([df, df2], ignore_index=True)

# DataFrame 정보 출력
print(df.info(), "\n")
# DataFrame 상위 5개 행 출력
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    100 non-null    object
 1   age     100 non-null    float64
 2   f4      100 non-null    object
dtypes: float64(1), object(2)
memory usage: 2.5+ KB
None

  city   age    f4
0   서울   2.0  ENFJ
1   서울   9.0  ENFJ
2   서울  27.0  ISTJ
3   서울  75.0  INFP
4   서울  24.0  ISFJ

<ipython-input-9-600cad3cc059>:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df2], ignore_index=True)